<!DOCTYPE html>
<html>
  <head>
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><%= dd("head.title") %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="keyword" content="<%= dd("head.keyword") %>">
    <meta name="description" content="<%= dd("head.description") %>">

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="../img/ico/favicon.ico">
    <link rel="apple-touch-icon" href="../img/ico/Icon-60@2x.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="../img/ico/Icon-60@3x.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="../img/ico/Icon-76.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="../img/ico/Icon-76@2x.png" />
    <link rel="apple-touch-icon" sizes="58x58" href="../img/ico/Icon-Small@2x.png" />
    <!--[if lt IE 7]>
      <p class="chromeframe"><%= dd("head.browser_warn") %></p>
      <![endif]-->

    <!--[if lt IE 9]>
      <script src="/js/html5shiv.min.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->

    <% if lang == 'cn' %>
      <link href="//cdn.staticfile.org/twitter-bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <% else %>
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <% end %>
    <link href="../css/vendor.min.css" rel="stylesheet">
    <link href="../css/app.min.css" rel="stylesheet">
  </head>

  <body id="home" data-spy="scroll" data-offset="0" data-target="#page-nav-scrollnav">
    <!-- global nav -->
    <header class="navbar navbar-fixed-top global-nav" role="banner">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand"><%= dd('head.title') %></a>
          <span id="sub_title" class="navbar-sub-title"></span>
        </div>
        <!-- .navbar-header ends -->
        <nav id="main-nav" class="navigation" role="navigation">
          <button type="button" class="navbar-toggle btn btn-sm" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div id="page-nav-scrollnav" class="navbar-collapse collapse bs-navbar-collapse">
            <ul class="nav navbar-nav navbar-right page-nav">
              <li><a href="#about"><%= dd('nav.about') %></a></li>
              <li><a href="#whitepaper"><%= dd('nav.whitepaper') %></a></li>
              <li><a href="#faq"><%= dd('nav.faq') %></a></li>
              <li><a href="#crowdfund"><%= dd('nav.crowdfund') %></a></li>
              <li><a href="#snapshot"><%= dd('nav.snapshot') %></a></li>
              <li><a href="#contact"><%= dd('nav.contact') %></a></li>
<!--
              <li><a href="//playshare.io" target="_blank">PlayShare.io</a></li>
 -->
              <li class="divider"></li>
              <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><%= dd('nav.lang') %> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="<%= lang == 'cn' ? 'active' : '' %>"><a href="../cn/">简体中文</a></li>
                  <li class="<%= lang == 'en' ? 'active' : '' %>"><a href="../en/">English</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
        <!-- .navigation ends -->
      </div>
    </header>

    <!-- hero starts -->
    <div id="hero">
      <div class="container">
        <section class="row jumbotron">
          <h1 class="logo">BitShares Play</h1>
          <p><%= dd('hero.line1') %></p>
          <p class="btn-container">
            <a class="btn btn-primary btn-lg" role="button" href="#crowdfund"><%= dd('hero.more') %></a>
            <a class="btn btn-info btn-lg" role="button" href="#contact"><%= dd('contact.subscribe') %></a>
          </p>
        </section>
      </div>
      <!-- Progress bar -->
      <div class="progress row-fluid">
        <div class="ready-point hider" data-tip="<%= dd('countdown.ready_tip') %>"><div class="marker"><%= dd('countdown.ready') %></div></div>
        <div class="start-point hider" data-tip="<%= dd('countdown.start_tip') %>"><div class="marker"><%= dd('countdown.start') %></div></div>
        <div class="end-point hider"><div class="marker"><%= dd('countdown.end') %></div></div>
        <div class="bar" style="width: 0%;" data-percentage="52">
          <div class="marker">52%</div>
        </div>
      </div>
      <!-- Progress bar ends -->
    </div>
    <!--hero ends -->


    <!-- feature starts -->
    <div id="about">
      <div class="container">
        <section class="row feature">
          <h1><%= dd('about.title') %></h1>
          <p class="lead"><%= dd('about.subtitle') %></p>
          <% delay = 1 %>
          <% dd('about.feature').each do |feature| %>
          <div class="col-lg-4 triggerAnimation animated feature-item" data-animate="fadeInUp" data-delay="<%= delay * 0.1 %>">
            <i class="<%= feature['icon'] %> feature-icon img-circle"></i>
            <h3><%= feature['title'] %></h3>
            <p class="text-left"><%= feature['intro'] %></p>
            <p><a class="btn btn-primary" href="#whitepaper" role="button"><%= dd('button.view_detail') %></a></p>
          </div><!-- /.col-lg-4 -->
          <% delay += 1 %>
          <% end %>
        </section>
      </div>
    </div>
    <!-- feature ends -->

    <!-- whitepaper starts -->
    <div id="whitepaper">
      <div class="container">
        <section class="row whitepaper">
          <h1 class="triggerAnimation animated" data-animate="fadeInUp"><%= dd('whitepaper.title') %></h1>
          <p class="whitepaper-item">
            <a class="btn btn-primary" href="<%= dd('whitepaper.link_tech') %>" role="button" target="_blank"><%= dd('whitepaper.tech') %></a>
            <a class="btn btn-primary" href="<%= dd('whitepaper.link_nonetech') %>" role="button" target="_blank"><%= dd('whitepaper.nonetech') %></a>
          </p>
        </section>
      </div>
    </div>
    <!--whitepaper ends -->


    <!-- crowdfund starts -->
    <div id="crowdfund">
      <div class="container">
        <section class="row crowdfund">
          <h1 class="triggerAnimation animated" data-animate="fadeInUp"><%= dd('crowdfund.title') %></h1>
          <%= dd('crowdfund.content') %>
          <p class="crowdfund-item">
            <a class="btn btn-primary btn-lg" role="button" href="<%= dd('crowdfund.link_prospectus') %>" target="_blank"><%= dd('crowdfund.prospectus') %></a>
            <a class="btn btn-primary btn-lg" role="button" href="http://dacx.com/play" target="_blank"><%= dd('hero.visit_dacx') %></a>
          </p>
        </section>
      </div>
    </div>
    <!--crowdfund ends -->


    <!-- faq starts -->
    <div id="faq">
      <div class="container">
        <section class="row faq">
          <h1 class="triggerAnimation animated" data-animate="fadeInUp"><%= dd('faq.title') %></h1>
          <p class="lead triggerAnimation animated" data-animate="fadeInUp"><%= dd('faq.subtitle') %></p>

          <div class="panel-group" id="accordion">
            <% qa_idx = 1 %>
            <% dd('faq.qas').each do |qa| %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#q_<%= qa_idx %>">
                    <%= qa["q"] %>
                  </a>
                </h4>
              </div>
              <div id="q_<%= qa_idx %>" class="panel-collapse collapse">
                <div class="panel-body">
                  <%= qa["a"] %>
                </div>
              </div>
            </div>
            <% qa_idx += 1 %>
            <% end %>

          </div>
        </section>
      </div>
    </div>
    <!--faq ends -->


    <!-- snapshot -->
    <div id="snapshot">
      <div class="container">
        <section class="row snapshot">
          <h1 class="triggerAnimation animated" data-animate="fadeInUp"><%= dd('snapshot.title') %></h1>
          <p class="lead triggerAnimation animated" data-animate="fadeInUp"><%= dd('snapshot.subtitle') %></p>
          <% delay = 1 %>
          <% dd('snapshot.allocation').each do |loc| %>
            <div class="col-md-4 triggerAnimation animated" data-animate="fadeInUp" data-delay="<%= delay * 0.2 %>">
              <div class="well">
                <div class="modal-header"><h4 class="modal-title"><%= loc['holder'] %><span class="pull-right text-muted"><%= loc['percentage'] %></span></h4></div>
                <div class="modal-body"><p><%= loc['description'] %></p></div>
              </div>
            </div>

            <% if delay % 3 == 0 %>
              <div class="clearfix"></div>
            <% end %>

          <% delay += 1 %>
          <% end %>
        </section>
      </div>
    </div>
    <!-- snapshot ends -->


<% if false %>
    <!-- team starts -->
    <div id="team">
      <div class="container">
        <section class="row team">
          <h1 class="triggerAnimation animated" data-animate="fadeInUp"><%= dd('team.title') %></h1>
          <p class="lead"><%= dd('team.subtitle') %></p>
          <% delay = 1 %>
          <% dd('team.members').each do |team| %>
          <div class="col-xs-3 text-center triggerAnimation animated"  data-animate="fadeInUp" data-delay="<%= delay * 0.1 %>">
            <img src="../img/team/<%= team["image"] %>" class="portrait img-circle" alt="<%= team["name"] %>">
            <h4><%= team["name"] %></h4>
            <p><%= team["role"] %></p>
          </div>
          <% delay += 1 %>
          <% end %>
        </section>
      </div>
    </div>
    <!--team ends -->
<% end %>

    <!-- contact starts -->
    <div id="contact">
      <div class="container">
        <section class="triggerAnimation animated" data-animate="fadeInUp">
          <h1><%= dd('contact.title') %></h1>
          <p class="lead"><%= dd('contact.subtitle') %></p>

          <div class="row">
            <form id="mailing_list" class="form-horizontal col-lg-6" action="" method="post" target="_blank">
              <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label"><%= dd('contact.email') %></label>
                <div class="col-lg-10">
                  <input type="email" class="form-control" id="inputEmail" name="EMAIL" placeholder="<%= dd('contact.email_tip') %>">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label"><%= dd('contact.language') %></label>
                <div class="col-lg-10">
                  <div class="radio radio-primary">
                    <label>
                      <input type="radio" name="langpref" id="langPrefEN" value="en" checked="checked">
                      English
                    </label>
                  </div>
                  <div class="radio radio-primary">
                    <label>
                      <input type="radio" name="langpref" id="langPrefCN" value="zh-CN">
                      中文
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                  <button type="submit" class="btn btn-primary"><%= dd('subscribe.title') %></button>
                </div>
              </div>
            </form>

            <div class="col-lg-5 col-lg-offset-1 contact-detail">
              <p><i class="mdi-maps-place"></i><%= dd('contact.address') %></p>
              <p><i class="mdi-communication-call"></i><%= dd('contact.phone') %></p>
              <p><i class="mdi-action-print"></i><%= dd('contact.fax') %></p>
              <p><i class="mdi-communication-email"></i><%= dd('subscribe.mail') %></p>
            </div>
          </div>
        </section>
      </div>
    </div>
    <!-- contact ends -->

    <!-- footer start -->
    <footer class="footer navbar">
      <h4>Copyright @ 2014 BitShares PLAY</h4>
      <p>Powered by <a href="http://bitshares.org" target="_blank">BitShares</a></p>
    </footer>
    <!-- footer ends -->

    <a id="scrollTopBtn" href="javascript:void(0);" class="btn btn-primary btn-fab btn-raised mdi-maps-local-airport"></a>

    <% if lang == 'cn' %>
      <script src="//lib.sinaapp.com/js/jquery/1.10.2/jquery-1.10.2.min.js"></script>
      <script src="//cdn.staticfile.org/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <% else %>
      <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <% end %>
    <script src="../js/vendor.min.js"></script>
    <script src="../js/app.js"></script>

    <!-- ga starts -->
    <%= render :partial => "ga" %>
    <!-- ga ends -->
  </body>
</html>

