<!DOCTYPE html>
<html>
  <head>
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><%= dd("head.title") %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="keyword" content="<%= dd("head.keyword") %>">
    <meta name="description" content="<%= dd("head.description") %>">

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="../img/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../img/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../img/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../img/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../img/ico/apple-touch-icon-57-precomposed.png">

    <!--[if lt IE 7]>
      <p class="chromeframe"><%= dd("head.browser_warn") %></p>
      <![endif]-->

    <!--[if lt IE 9]>
      <script src="/js/html5shiv.min.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->

    <% if lang == 'cn' %>
      <link href="//cdn.staticfile.org/twitter-bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <% else %>
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <% end %>
    <link href="../css/vendor.min.css" rel="stylesheet">
    <link href="../css/app.min.css" rel="stylesheet">
  </head>

  <body id="home" data-spy="scroll" data-target="#page-nav-scrollnav">
    <!-- global nav -->
    <header class="navbar navbar-fixed-top global-nav" role="banner">
      <div class="container">
        <div class="navbar-header">
          <!--
          <a href="home" class="navbar-brand"><img src="../img/logo.svg" alt="playshare.io-logo"><%= dd('head.title') %></a>
          -->
          <a href="/" class="navbar-brand"><%= dd('head.title') %></a>
          <span id="sub_title" class="navbar-sub-title"></span>
        </div>
        <!-- .navbar-header ends -->
        <nav id="main-nav" class="navigation" role="navigation">
          <button type="button" class="navbar-toggle btn btn-sm" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div id="page-nav-scrollnav" class="navbar-collapse collapse bs-navbar-collapse">
            <ul class="nav navbar-nav navbar-right page-nav">
              <li class="active"><a href="#home"><%= dd('nav.home') %></a></li>
              <li><a href="#about"><%= dd('nav.about') %></a></li>
              <li><a href="#whitepaper"><%= dd('nav.whitepaper') %></a></li>
              <li><a href="#faq"><%= dd('nav.faq') %></a></li>
              <li><a href="#team"><%= dd('nav.team') %></a></li>
              <li><a href="#contact"><%= dd('nav.contact') %></a></li>
            </ul>
          </div>
        </nav>
        <!-- .navigation ends -->
      </div>
    </header>

    <!-- hero starts -->
    <section class="jumbotron container">
        <h1><%= dd('hero.line1') %></h1>
        <p><%= dd('hero.line2') %></p>
        <p><a class="btn btn-primary btn-lg" role="button"><%= dd('hero.more') %></a></p>
    </section>
    <!--hero ends -->


    <!-- feature starts -->
    <div id="about" class="container">
      <section class="row feature">
        <h1><%= dd('about.title') %></h1>
        <% delay = 1 %>
        <% dd('about.feature').each do |feature| %>
        <div class="col-lg-4 triggerAnimation animated feature-item" data-animate="fadeInUp" data-delay="<%= delay * 0.1 %>">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2><%= feature['title'] %></h2>
          <p><%= feature['intro'] %></p>
          <p><a class="btn btn-primary" href="#" role="button"><%= dd('button.view_detail') %></a></p>
        </div><!-- /.col-lg-4 -->
        <% delay += 1 %>
        <% end %>
      </section>
    </div>
    <!-- feature ends -->

    <!-- whitepaper starts -->
    <div id="whitepaper" class="container">
      <section class="row whitepaper">
        <h1 class="triggerAnimation animated" data-animate="fadeInUp"><%= dd('whitepaper.title') %></h1>
          <p class="whitepaper-item"><a class="btn btn-primary" href="<%= dd('whitepaper.link') %>" role="button"><%= dd('whitepaper.read') %></a></p>
      </section>
    </div>
    <!--whitepaper ends -->



    <!-- faq starts -->
    <div id="faq" class="container">
      <section class="row faq">
        <h1 class="triggerAnimation animated" data-animate="fadeInUp"><%= dd('faq.title') %></h1>

        <div class="panel-group" id="accordion">
          <% qa_idx = 1 %>
          <% dd('faq.qas').each do |qa| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#q_<%= qa_idx %>">
                  <%= qa["q"] %>
                </a>
              </h4>
            </div>
            <div id="q_<%= qa_idx %>" class="panel-collapse collapse">
              <div class="panel-body">
                <%= qa["a"] %>
              </div>
            </div>
          </div>
          <% qa_idx += 1 %>
          <% end %>

        </div>
      </section>
    </div>
    <!--faq ends -->



    <!-- team starts -->
    <div id="team" class="container">
      <section class="row team">
        <h1 class="triggerAnimation animated" data-animate="fadeInUp"><%= dd('team.title') %></h1>
        <% delay = 1 %>
        <% dd('team.members').each do |team| %>
        <div class="col-xs-3 text-center triggerAnimation animated"  data-animate="fadeInUp" data-delay="<%= delay * 0.1 %>">
          <img src="../img/team/<%= team["image"] %>" class="portrait img-circle" alt="<%= team["name"] %>">
          <h3><%= team["name"] %></h3>
          <p><%= team["role"] %></p>
        </div>
        <% delay += 1 %>
        <% end %>
      </section>
    </div>
    <!--team ends -->

    <!-- contact starts -->
    <div id="contact" class="container">
      <section class="triggerAnimation animated" data-animate="fadeInUp">
        <h1><%= dd('contact.title') %></h1>
        <h4><%= dd('contact.subtitle') %></h4>

        <div class="row">
          <form id="mailing_list" class="form-horizontal col-lg-6" action="" method="post" target="_blank">
            <div class="form-group">
              <label for="inputEmail" class="col-lg-2 control-label">Email</label>
              <div class="col-lg-10">
                <input type="email" class="form-control" id="inputEmail" name="EMAIL" placeholder="subscribe to receive updates">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Language</label>
              <div class="col-lg-10">
                <div class="radio radio-primary">
                  <label>
                    <input type="radio" name="langpref" id="langPrefEN" value="en" checked="checked">
                    English
                  </label>
                </div>
                <div class="radio radio-primary">
                  <label>
                    <input type="radio" name="langpref" id="langPrefCN" value="zh-CN">
                    中文
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary"><%= dd('subscribe.title') %></button>
              </div>
            </div>
          </form>

          <div class="col-lg-6 text-center">
            <p><%= dd('subscribe.mail') %></p>
          </div>
        </div>
      </section>
    </div>
    <!-- contact ends -->

    <!-- footer start -->
    <footer class="footer navbar">
      <h3>Copyright @ 2014 BitShares Play</h3>
      <p>Powered by <a href="http://bitshares.org" target="_blank">BitShares</a></p>
    </footer>
    <!-- footer ends -->

    <a id="scrollTopBtn" href="javascript:void(0);" class="btn btn-primary btn-fab btn-raised mdi-maps-local-airport"></a>

    <% if lang == 'cn' %>
      <script src="//lib.sinaapp.com/js/jquery/1.10.2/jquery-1.10.2.min.js"></script>
      <script src="//cdn.staticfile.org/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <% else %>
      <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <% end %>
    <script src="../js/vendor.min.js"></script>
    <script src="../js/app.min.js"></script>

    <!-- ga starts -->
    <%= render :partial => "ga" %>
    <!-- ga ends -->
  </body>
</html>

